[Unit]
Description=Supervisor daemon
Documentation=http://supervisord.org
After=network.target

[Service]
ExecStart=/home/pi/.local/bin/supervisord -n -c /home/pi/publishWeatherSensors/supervisord.conf
ExecStop=/home/pi/.local/bin/supervisorctl $OPTIONS shutdown
ExecReload=/home/pi/.local/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
Alias=supervisord.service
